{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

    <section class="articles">
        {%  for product in products %}
            <article>
            <h2>{{ product.name }}</h2>
            <div class="metadata">Mis en vente le {{ product.creationDate | date('d/m/Y') }} à
                {{ product.creationDate | date('H:i') }} et modifié le {{ product.modificationDate | date('d/m/Y') }} à
                {{ product.modificationDate | date('H:i') }}</div>
                <br>
            <div class="content">
                <p>Prix : {{ product.price | raw }}</p>
                <p>Stock : {{ product.stock | raw }}</p>
                <p>EanCode : {{ product.eanCode | raw }}</p>
                <p>Description : {{ product.description | raw }}</p>
                <a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-primary">Voir le produit</a>
                {% if app.user %}
                <a href="{{ path('products_edit', {'id': product.id}) }}" class="btn btn-primary">Modifier le produit</a>
                {% endif %}
            </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}
