{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <product>
        <h2>{{ product.name }}</h2>
        <div class="metadata">Mis en vente le {{ product.creationDate | date('d/m/Y') }} à
            {{ product.creationDate | date('H:i') }} et modifié le {{ product.modificationDate | date('d/m/Y') }} à
            {{ product.modificationDate | date('H:i') }}</div>
        <div class="content">
            <p>{{ product.price | raw }}</p>
            <p>{{ product.stock | raw }}</p>
            <p>{{ product.eanCode | raw }}</p>
            <p>{{ product.description | raw }}</p>
        </div>
    </product>

{% endblock %}